@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  background: linear-gradient(
      rgba(122, 134, 156, 0.61),
      rgba(141, 139, 139, 0.589)
    ),
    url(https://source.unsplash.com/random/?notes,books) center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 3.3rem;
  font-family: "Mulish", sans-serif;
}

.notelist {
  border-radius: 20px;
  ::-webkit-scrollbar {
    width: 0.8em;
    background-color: #d2d6da49;
    backdrop-filter: blur(15px);
  }
  ::-webkit-scrollbar-thumb {
    background-color: #0524529a;
    border: solid 2px #d2d6da49;
    border-radius: 20px;
  }
}
